In [143]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [152]:
#Settings
%matplotlib inline
pd.set_option('display.max_columns', 97)

def read_features():
    
    raw_data = pd.read_csv("2016-SFO-Customer-Survey-Data.csv")
    
    data = raw_data.drop(["*RESPNUM","CCGID", "RUNID", "DAY", "INTDATE", "EGYPTAIR", "SAQ", "DEST CODE", 
                         "AIRLINE CODE", "STRATA", "PEAK", "GATE", "METHOD", "FLIGHT", "LANG", "WEIGHT", 
                         "FLIGHT", "DESTGEO","Q3GETTO1", "Q3GETTO2", "Q3GETTO3", "Q3PARK", "Q8COM", "Q8COM2", 
                         "Q8COM3", "Q8COM4", "Q8COM5", "Q9COM", "Q9COM2", "Q9COM3", "Q10COM1", "Q10COM2", 
                         "Q10COM3", "Q12PRECOM1", "Q12PRECOM2", "Q12PRECOM3", "Q15COM1", "Q15COM2", "Q15COM3", 
                         "ARRTIME", "DEPTIME", "HOME"], axis = 1)
    
    return data

def prep_missing(data):
    
    # Survey codes blank/multiple responses as zeros. Replace all 0s and "0"s with NaN. 
    data = data.replace(0, np.nan)
    data = data.replace("0", np.nan)
    
    # Calculate threshold based on percentage of columns
    #TODO - Missing Data: remove hardcoding of threshold level
    threshold = len(data.index) * .15
    
    # Find columns with missing data above a certain threshold
    high_missing = data.columns[data.isnull().sum() > threshold].tolist()
    
    # Keep only columns with low missing percentage from data
    imputables = data.drop(high_missing, axis=1)
    
    # Rename column names to human-readable text
    imputables_renamed = imputables.rename(columns={'BAREA': 'Trav_Boarding_area', 'AIRLINE': 'Trav_Airline', 
                                                    'DESTINATION': 'Trav_Destination', 
                                                    'DESTMARK': 'Trav_Dest_market_size', 
                                                    'HOWLONG': 'Trav_Arr_to_dep_time',
                                                    'Q2PURP1': 'Trav_Travel_purpose', 
                                                    'Q4BAGS': 'Has_checked_baggage','Q4STORE': 'Shopped_stores', 
                                                    'Q4FOOD': 'Shopped_restaurant', 'Q4WIFI': 'Used_free_wifi',
                                                    'Q5TIMESFLOWN': 'Trav_Times_flownSFO', 
                                                    'Q5FIRSTTIME': 'Trav_Is_first_SFO',
                                                    'Q6LONGUSE': 'Trav_yearsUsed_group', 'Q7ART': 'Rate_art', 
                                                    'Q7FOOD': 'Rate_food', 'Q7STORE': 'Rate_stores', 
                                                    'Q7SIGN': 'Rate_signs', 'Q7WALKWAYS': 'Rate_moving_walkways', 
                                                    'Q7SCREENS': 'Rate_infoscreens', 
                                                    'Q7INFODOWN': 'Rate_infobooth_LL', 
                                                    'Q7INFOUP': 'Rate_infobooth_UL', 'Q7WIFI': 'Rate_free_wifi', 
                                                    'Q7ROADS': 'Rate_roadsigns', 'Q7PARK': 'Rate_parking', 
                                                    'Q7AIRTRAIN': 'Rate_airtrain', 
                                                    'Q7LTPARKING': 'Rate_parking_shuttle', 
                                                    'Q7RENTAL': 'Rate_rentacar', 'Q7ALL': 'Rate_SFO_overall', 
                                                    'Q9BOARDING': 'Clean_boarding_area', 
                                                    'Q9AIRTRAIN': 'Clean_airtrain', 
                                                    'Q9RENTAL': 'Clean_rentacar', 'Q9FOOD': 'Clean_restaurant', 
                                                    'Q9RESTROOM': 'Clean_restoom', 'Q9ALL': 'Clean_overall', 
                                                    'Q10SAFE': 'How_safe_overall', 'Q11TSAPRE': 'Used_TSA_Precheck', 
                                                    'Q13 COUNTY': 'Trav_County_of_origin', 
                                                    'Q13GETRATE': 'Rate_trip_to_airport', 
                                                    'Q14FIND': 'Ease_of_navigating_inside', 
                                                    'Q14PASSTHRU': 'Ease_of_passing_security', 
                                                    'Q15PROBLEM': 'Encountered_problems', 'Q16LIVE': 'Trav_How_local', 
                                                    'Q17CITY': 'Trav_City', 'Q17COUNTRY': 'Trav_Country', 
                                                    'Q18PET': 'Trav_with_pet', 'Q19AGE': 'Trav_age_group', 
                                                    'Q20GENDER': 'Trav_gender', 'Q22FLY': 'Is_Frequent_flyer', 
                                                    'Q23SJC': 'Used_SJC', 'Q23OAK': 'Used_OAK'
                                                    })
    return imputables_renamed

def encode_categories(data):
    
    label_encoder = LabelEncoder()
    encoded_categories = data.apply(label_encoder.fit_transform)
    return encoded_categories
 
def get_categoricals(data):
    
    categorical_columns = ['Trav_Boarding_area', 'Trav_Airline', 'Trav_Destination', 'Trav_Dest_market_size',
                           'Trav_Travel_purpose', 'Has_checked_baggage', 'Shopped_stores', 'Shopped_restaurant',
                           'Trav_Times_flownSFO', 'Trav_Is_first_SFO', 'Trav_yearsUsed_group', 'Used_TSA_Precheck',
                           'Trav_County_of_origin', 'Encountered_problems', 'Trav_How_local','Trav_City', 
                           'Trav_Country', 'Trav_with_pet', 'Trav_age_group', 'Trav_gender', 'Is_Frequent_flyer',
                           'Used_SJC','Used_OAK'
                          ]
    
    categorical_features = data[categorical_columns]
         
    for col in categorical_columns:
        categorical_features[col] = categorical_features[col].astype('category')
    
    encoded_cats = encode_categories(categorical_features)
    # TODO:   
    # Clean age (new function)
    # Combine times flown and sfo (maybe yearsUsed?)
    
    return encoded_cats

def get_numerics(data):
    
    numeric_features = data.drop(categorical_columns, axis=1)
    return numeric_features
    
    
    

if __name__ == "__main__":
    
    data=read_features()
    prepped = prep_missing(data)
    print get_categoricals(prepped)

/Users/KoryLyles/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Trav_Boarding_area  Trav_Airline  Trav_Destination  \
0                      2            14                53
1                      1            25                33
2                      0            19                32
3                      6            29                63
4                      3            30                33
5                      1            25                29
6                      0            12                60
7                      0            11                31
8                      5            28                25
9                      6             3                65
10                     0             6                51
11                     0            18                28
12                     3             7                33
13                     6            29                24
14                     0            19                42
15                     6             3                66
16                     5            28                50
17                     3             7                42
18                     4            28                 0
19                     0            19                42
20                     0            31                66
21                     0            23                34
22                     5            29                66
23                     5            28                61
24                     2             7                48
25                     0             1                22
26                     3             7                33
27                     6             3                65
28                     4            28                26
29                     2            14                42
...                  ...           ...               ...
3057                   6            29                63
3058                   3             7                14
3059                   2             7                10
3060                   5            28                 5
3061                   2            14                16
3062                   6            29                31
3063                   6            29                20
3064                   6            21                40
3065                   3            30                58
3066                   5            29                66
3067                   5            28                30
3068                   6             3                39
3069                   6             3                39
3070                   0             6                58
3071                   0             6                58
3072                   0             1                22
3073                   0            18                28
3074                   0            19                21
3075                   0             6                51
3076                   5            28                44
3077                   6            29                24
3078                   6            21                20
3079                   6            29                46
3080                   4            28                67
3081                   3            30                15
3082                   0             9                59
3083                   6            28                33
3084                   6            21                20
3085                   3            30                54
3086                   0             6                58

      Trav_Dest_market_size  Trav_Travel_purpose  Has_checked_baggage  \
0                         1                    4                    0
1                         3                    1                    0
2                         0                    1                    0
3                         3                    1                    1
4                         3                    0                    1
5                         3                    1                    1
6                         3                    1                    0
7                         3                    1                    0
8                         1                    4                   16
9                         3                    0                    1
10                        0                    1                    0
11                        0                    1                    0
12                        3                    1                    1
13                        3                    0                    0
14                        3                    1                    0
15                        2                    1                    1
16                        1                    1                    1
17                        3                    0                    1
18                        3                    2                    0
19                        3                    0                    0
20                        2                    1                    0
21                        3                    2                    0
22                        2                    1                    0
23                        0                    0                    1
24                        3                    0                    0
25                        0                    1                    0
26                        3                    0                    1
27                        3                    1                    0
28                        3                    1                    1
29                        3                    0                    1
...                     ...                  ...                  ...
3057                      3                    2                    1
3058                      3                    2                    0
3059                      3                    1                    0
3060                      0                    2                    0
3061                      2                    2                    0
3062                      3                    1                    0
3063                      3                    2                    0
3064                      3                    1                    0
3065                      3                    1                    1
3066                      2                    0                    1
3067                      0                    1                    0
3068                      1                    1                    0
3069                      1                    1                    1
3070                      3                    5                    0
3071                      3                    5                    0
3072                      0                    1                    0
3073                      0                    1                    0
3074                      2                    1                   13
3075                      0                    1                   15
3076                      0                    2                    0
3077                      3                    0                    1
3078                      3                    7                    0
3079                      3                    1                    0
3080                      1                    1                    1
3081                      3                    2                    0
3082                      2                    2                    0
3083                      3                    0                    1
3084                      3                    0                    0
3085                      1                    1                    0
3086                      3                    5                    1

      Shopped_stores  Shopped_restaurant  Trav_Times_flownSFO  \
0                  0                   0                    0
1                  0                   0                    0
2                  1                   1                    0
3                  1                   1                    0
4                104                   0                    1
5                  1                   0                    0
6                  0                   0                    0
7                  0                   0                    0
8                105                   0                    1
9                  1                   1                    3
10                 0                   0                    0
11                 0                   0                    0
12                 1                   1                    3
13               108                  45                    1
14                 0                   1                    0
15                 0                  39                    1
16                 1                   0                    2
17                 1                   0                    4
18                 1                   1                    2
19                 1                   1                    3
20                 0                   1                    0
21                 1                   1                    3
22                 0                   0                    2
23                 0                   0                    3
24                 0                   1                    5
25                 1                   1                    1
26                 1                   1                    1
27                 0                   0                    0
28                 0                   1                    0
29                 1                   0                    1
...              ...                 ...                  ...
3057               0                   0                    2
3058               0                   1                    1
3059               0                   0                    0
3060              79                  89                    5
3061               1                   1                    0
3062             100                  85                    0
3063               1                   0                    0
3064               0                   1                    0
3065               0                   1                    2
3066               0                   0                    0
3067               0                   0                    2
3068             117                   0                    0
3069               1                   1                    1
3070               1                   1                    2
3071               0                   1                    1
3072               0                   1                    0
3073               1                   0                    0
3074             111                  22                    0
3075               0                  43                    1
3076               0                  42                    2
3077               0                   0                    1
3078               0                   0                    0
3079               0                   0                    2
3080               1                   0                    3
3081               1                   0                    2
3082               0                   0                    2
3083               1                   0                    2
3084               0                   0                    0
3085             207                   0                    1
3086               1                   1                    1

      Trav_Is_first_SFO  Trav_yearsUsed_group  Used_TSA_Precheck  \
0                     1                     0                  1
1                     1                     0                  1
2                     0                     1                  2
3                     1                     0                  3
4                     0                     3                  0
5                     1                     0                  1
6                     0                     1                  1
7                     1                     0                 53
8                     0                     1                  1
9                     0                     1                  1
10                    0                     1                  1
11                    0                     3                  1
12                    0                     3                  0
13                    0                     0                  2
14                    1                     0                  1
15                    0                     1                  1
16                    0                     3                  1
17                    0                     2                  0
18                    0                     3                  1
19                    0                     3                  0
20                    0                     1                  1
21                    0                     3                  1
22                    0                     3                  0
23                    0                     3                  0
24                    0                     3                  1
25                    0                     1                  1
26                    0                     2                  0
27                    0                     3                  0
28                    0                     3                  1
29                    0                     3                  1
...                 ...                   ...                ...
3057                  0                     3                  2
3058                  0                     3                  0
3059                  1                     0                  1
3060                  0                     2                  0
3061                  0                     3                  2
3062                  0                     3                  1
3063                  0                     3                  1
3064                  1                    17                 48
3065                  0                     3                  1
3066                  0                     3                  0
3067                  0                     3                  0
3068                  1                     0                  0
3069                  0                     3                  0
3070                  0                     3                  0
3071                  0                     1                  1
3072                  0                     3                  0
3073                  0                     2                  2
3074                  0                     0                  0
3075                  0                     1                  1
3076                  0                     1                  1
3077                  1                     1                  1
3078                  0                     3                  1
3079                  0                     3                  2
3080                  0                     2                  0
3081                  0                     3                 63
3082                  0                     3                  1
3083                  0                     3                  0
3084                  0                     3                  0
3085                  0                     3                  0
3086                 44                     2                  0

      Trav_County_of_origin  Encountered_problems  Trav_How_local  Trav_City  \
0                         4                     1               2        317
1                         4                     1               2        747
2                         4                     1               2        308
3                        10                     1               2        463
4                        98                    49               2        519
5                         4                     0               2        397
6                         0                     1               0        538
7                        95                     1               2          0
8                        10                     1               2          0
9                         6                     1               0        761
10                        4                    53               2          0
11                        4                     1               1        273
12                        3                     1               2        423
13                       88                     1               2        295
14                        0                     1               2        784
15                        4                     1               2        809
16                        4                     1               0        682
17                        8                     1               1        736
18                       81                    37               2        192
19                        4                     1               0        682
20                        5                     1               2        611
21                        4                     1               0          0
22                        6                     1               0        554
23                        6                     1               0        682
24                        5                     1               0        632
25                        4                     1               0        682
26                        4                     1               2        204
27                        4                     1               0        682
28                       10                     1              21          0
29                      127                     1               2        518
...                     ...                   ...             ...        ...
3057                      7                     1               0        247
3058                      4                     1               2        726
3059                      4                     1               2        377
3060                     10                     1              23          0
3061                      5                     1               2         78
3062                      6                     1               1        471
3063                      8                     1               0        704
3064                     85                     1               2         86
3065                      5                     1               0        457
3066                      6                     0               2        813
3067                      0                     1               0        412
3068                      4                     1               2        486
3069                      5                     1               0        689
3070                      4                     1               2        467
3071                      4                     1               2        541
3072                      4                     1               0        682
3073                      5                     1               0        689
3074                      4                     1               2          0
3075                     10                     0               2        605
3076                     10                     1               2        644
3077                      4                     1               2          0
3078                      1                     1               0        442

/Users/KoryLyles/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy