In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 28 days

In [5]:
data = pd.read_csv("2016-SFO-Customer-Survey-Data.csv")
#Show all columns when displaying dataframe
pd.set_option('display.max_columns', 97)

In [7]:
data.head()

,*RESPNUM,CCGID,RUNID,INTDATE,EGYPTAIR,DAY,GATE,BAREA,STRATA,PEAK,METHOD,SAQ,AIRLINE,DESTINATION,FLIGHT,AIRLINE CODE,DEST CODE,DESTGEO,DESTMARK,ARRTIME,DEPTIME,HOWLONG,Q2PURP1,Q2PURP2,Q2PURP3,Q3GETTO1,Q3GETTO2,Q3GETTO3,Q3PARK,Q4BAGS,Q4STORE,Q4FOOD,Q4WIFI,Q5TIMESFLOWN,Q5FIRSTTIME,Q6LONGUSE,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,Q7INFOUP,Q7WIFI,Q7ROADS,Q7PARK,Q7AIRTRAIN,Q7LTPARKING,Q7RENTAL,Q7ALL,Q8COM,Q8COM2,Q8COM3,Q8COM4,Q8COM5,Q9BOARDING,Q9AIRTRAIN,Q9RENTAL,Q9FOOD,Q9RESTROOM,Q9ALL,Q9COM,Q9COM2,Q9COM3,Q10SAFE,Q10COM1,Q10COM2,Q10COM3,Q11TSAPRE,Q12PRECHECKRATE,Q12PRECOM1,Q12PRECOM2,Q12PRECOM3,Q13 COUNTY,Q13GETRATE,Q14FIND,Q14PASSTHRU,Q15PROBLEM,Q15COM1,Q15COM2,Q15COM3,Q16LIVE,Q17CITY,Q17STATE,Q17ZIP,Q17COUNTRY,HOME,Q18PET,Q19AGE,Q20GENDER,Q21INCME,Q22FLY,Q23SJC,Q23OAK,LANG,WEIGHT
0,17,84,610,42501,1,4,42,C,3,2,1,2,DELTA,SALT LAKE CITY,2800,15,54,1,2,14:30:00,18:05:00,215,5,NaN,NaN,4,NaN,NaN,NaN,1,1,1,1,1,2,1,6,2,4,4,6,6,2,2,5,6,6,6,6,6,3,202,215.0,NaN,NaN,NaN,5,6,6,5,5,5,0,NaN,NaN,5,0,NaN,NaN,2,NaN,NaN,NaN,NaN,5,3,3,2,2,NaN,NaN,NaN,3,HILL AIR FORCE BASE,UT,84056.0,UNITED STATES,10,1,18-24,0,2,2,2.0,2.0,1,1.045597
1,70,40,576,42499,1,2,26,B,3,2,1,2,SOUTHWEST,LOS ANGELES,2034,25,34,1,4,15:15:00,17:05:00,110,2,NaN,NaN,9,NaN,NaN,NaN,1,1,1,2,1,2,1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,NaN,NaN,NaN,NaN,4,4,4,4,4,4,0,NaN,NaN,3,0,NaN,NaN,2,NaN,NaN,NaN,NaN,5,3,5,5,2,NaN,NaN,NaN,3,ST LOUIS,MO,NaN,UNITED STATES,11,1,25-34,0,1,2,2.0,2.0,1,0.887513
2,1512,1992,745,42505,1,1,12,A,3,2,1,2,JETBLUE,LONG BEACH,1635,20,33,1,1,16:30:00,18:35:00,125,2,NaN,NaN,9,NaN,NaN,NaN,1,2,2,2,1,1,2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,NaN,NaN,NaN,NaN,5,5,5,5,4,5,0,NaN,NaN,5,0,NaN,NaN,3,NaN,NaN,NaN,NaN,5,5,5,5,2,NaN,NaN,NaN,3,HAWTHORNE,CA,90250.0,UNITED STATES,10,1,25-34,0,1,2,2.0,2.0,1,0.355704
3,1932,1869,759,42506,1,2,91,G,3,3,1,2,UNITED INTL,TOKYO-HANEDA,875,29,65,8,4,18:00:00,19:20:00,80,2,NaN,NaN,3,NaN,NaN,NaN,2,2,2,2,1,2,1,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,0,NaN,NaN,NaN,NaN,4,4,4,4,4,4,0,NaN,NaN,3,10,NaN,NaN,4,NaN,NaN,NaN,NaN,11,6,4,6,2,NaN,NaN,NaN,3,MESA,AZ,85212.0,UNITED STATES,10,1,25-34,0,1,2,2.0,2.0,1,0.917422
4,2408,2734,514,42496,1,6,54,D,2,2,1,2,VIRGIN AMERICA,LOS ANGELES,932,30,34,1,4,14:30:00,16:30:00,120,1,NaN,NaN,5,NaN,NaN,NaN,2,0,1,0,2,1,4,5,5,5,5,5,5,5,5,5,6,6,6,6,6,5,0,NaN,NaN,NaN,NaN,5,5,5,5,5,5,0,NaN,NaN,3,0,NaN,NaN,1,5,0.0,NaN,NaN,0,5,5,5,0,NaN,NaN,NaN,3,NEW YORK CITY,NY,NaN,UNITED STATES,12,1,25-34,0,2,3,2.0,2.0,1,1.000530

<h2>Cleaning Data</h2>

In [9]:
#Drop unnecessary variables
data = data.drop(["*RESPNUM","CCGID", "RUNID", "DAY", "INTDATE", "EGYPTAIR", "SAQ", "DEST CODE", 
                 "AIRLINE CODE", "STRATA", "PEAK", "GATE", "METHOD", "FLIGHT", "LANG", "WEIGHT", "FLIGHT", "DESTGEO",
                 "Q3GETTO1", "Q3GETTO2", "Q3GETTO3", "Q3PARK", "Q8COM", "Q8COM2", "Q8COM3", "Q8COM4", "Q8COM5", 
                  "Q9COM", "Q9COM2", "Q9COM3", "Q10COM1", "Q10COM2", "Q10COM3", "Q12PRECOM1", "Q12PRECOM2", "Q12PRECOM3", 
                 "Q15COM1", "Q15COM2", "Q15COM3", "ARRTIME", "DEPTIME"], axis = 1)

ValueError: labels ['*RESPNUM' 'CCGID' 'RUNID' 'DAY' 'INTDATE' 'EGYPTAIR' 'SAQ' 'DEST CODE'
 'AIRLINE CODE' 'STRATA' 'PEAK' 'GATE' 'METHOD' 'FLIGHT' 'LANG' 'WEIGHT'
 'FLIGHT' 'DESTGEO' 'Q3GETTO1' 'Q3GETTO2' 'Q3GETTO3' 'Q3PARK' 'Q8COM'
 'Q8COM2' 'Q8COM3' 'Q8COM4' 'Q8COM5' 'Q9COM' 'Q9COM2' 'Q9COM3' 'Q10COM1'
 'Q10COM2' 'Q10COM3' 'Q12PRECOM1' 'Q12PRECOM2' 'Q12PRECOM3' 'Q15COM1'
 'Q15COM2' 'Q15COM3' 'ARRTIME' 'DEPTIME'] not contained in axis